@media (width < 568px) {
  #main {
    width: 95% !important;
  }
}
@media (width > 768px) {
  #main {
    width: 95% !important;
  }
}
@media (width > 992px) {
  #main {
    width: 40% !important;
  }
}

